<div class="ui bottom attached segment pushable">
    <div class="pusher">
        <div class="full height">
            {% if page.menu %}
                {% include 'menu.html' with page.menu only %}
            {% endif %}
            {% if page.content.template %}
                {% set page_template_data = { 'country_list': page.country_list }|merge(page.content.data) %}
                {% include 'page/' ~ page.content.template with page_template_data only %}
            {% else %}
                <div class="article">
                    <a href="/index.php">Home</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>