{% set ribbon_data = { color: 'red', text: 'Question'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>I didn’t physically resist – does that mean it wasn’t rape?</p>
{% set ribbon_data = { color: 'orange', text: 'Answer'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>People respond to an assault in many different ways. Just because you didn’t resist physically doesn’t mean it wasn’t rape – in fact, many victims experience the survival instinct to “freeze” and do not physically resist due to fear that their attacker might become more violent.  Lack of consent can be expressed (saying “no”) or can be implied through non-verbal cues and reactions by the non-consenting person.</p>