{% set ribbon_data = { color: 'red', text: 'Question'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>I was drunk or the other person was drunk – does that mean it isn’t rape?</p>
{% set ribbon_data = { color: 'orange', text: 'Answer'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Alcohol and drugs are not an excuse. The key question is still: did you consent or not? Regardless of whether you were drunk or sober, if the sex is nonconsensual, it is rape. However, because each country has different definitions of “nonconsensual,” please contact your PCMO or SSM if you have questions about your specific host country definitions and laws. Peace Corps believes that if you were so intoxicated or drugged that you passed out and/or were unable to consent, it was rape. Both people must be conscious and willing participants.  </p>