{% set ribbon_data = { color: 'red', text: 'Question'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>I thought “no,” but didn’t say it – is it still rape?</p>
{% set ribbon_data = { color: 'orange', text: 'Answer'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>It depends on the circumstances. If you didn’t say no because you were legitimately scared for your life or safety, then it may be a sexual assault. In some cases it may be unsafe to resist, physically or verbally — for example, when someone has a knife or gun to your head, or threatens you, a fellow PCV, or community member if you say anything.</p>