{% set ribbon_data = { color: 'red', text: 'Question'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>I became sexually aroused even though I did not consent – is it still rape?</p>
{% set ribbon_data = { color: 'orange', text: 'Answer'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Sexual arousal and/or orgasm during rape is extremely common, yet rarely talked about. It is biological. Sexual arousal works from the same autonomic, reflex-driven system associated with heart rate, digestion, and perspiration.  Sexual organs do not think, they are designed to respond to stimulation. Sexual arousal or orgasm during rape does not mean it felt good. It does not mean you enjoyed it. It does not mean you asked for it. It does not mean you consented. Becoming sexually aroused does not equal consent.</p>