{% set ribbon_data = { color: 'red', text: 'Question'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>I used to date the person who assaulted me – does that mean it isn’t rape?</p>
{% set ribbon_data = { color: 'orange', text: 'Answer'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Sexual assault can occur when the offender and the victim have a pre-existing relationship, even if the offender is the victim’s spouse. It does not matter whether the other person is a former romantic partner or a complete stranger. It also doesn’t matter if you ever had sex in the past. If it is nonconsensual this time, it is rape.</p>