<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange">Physical/Physiological</td>
      </tr>
      <tr>
		<td class="dark-green">
	        <ul>
	            <li>Physical injury from the assault itself</li>
				<li>Pregnancy</li>
				<li>Sexually Transmitted Infections</li>
				<li>Self-medicating (i.e., alcohol/drug abuse)</li>
				<li>Sleep disorders</li>
				<li>Eating disorders</li>
				<li>Physical triggers (sights, smells, sounds, touching) that may produce a physical or psychological reaction</li>
				<li>Self-mutilation (self-inflicted cuts but not to commit suicide)</li>
			</ul>
        </td>
      </tr>
    </tbody>
</table>