<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;"></td>
      </tr>
      <tr>
		<td class="dark-green">
			<p>Sexual assault can have many effects on the victim – and it affects each person differently. It is important to recognize that all of the reactions are NORMAL. They are NORMAL reactions to an ABNORMAL situation. They are symptoms of a traumatic experience that your body and mind are trying to deal with - like running a fever to fight off infection. While the symptoms are normal, it’s okay to seek help</p>
        </td>
      </tr>
    </tbody>
</table>