/* Created by Akanksha
   Desc: CSS for the vertical accordian menu
*/
#accordian {
	background: #ffd590;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 100%
}

#accordian h2 a {
	background: #ffd590; 
	background: linear-gradient(#ffd590, #ffd590);
	color: #ffffff;
	cursor: pointer;
	font-size: 25px;
	font-style: bold;	
	line-height: 34px;	
}

#accordian h2 img { 
   float:left;
   height: 30px; 
   margin-bottom:10px;
   margin-left:45px;
   margin-top:5px; 
   padding: 9px; 
   width: 30px;
}

#accordian h3 {
	background: #ffd590; 
	background: linear-gradient(#ffd590, #ffd590);
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	font-style: bold;
	line-height: 34px;
	padding: 0 10px;
}

#accordian h3 a {
	color: #ffffff;
}

#accordian h3 a:hover {
	background: #ffd590;
	border-left: 5px solid orange;
}

#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian li {
	list-style-type: none;
}

#accordian li.active .ul-menu {
	display: block;
}

#accordian .ul-menu .ul-menu li a {
	color: white;
	display: block;
	font-size: 15px;
	line-height: 27px;
	padding: 0 15px;
	text-decoration: none;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}

#accordian .ul-menu .ul-menu li a:hover {
	background: #ffd590;
	border-left: 5px solid orange;
}

/*hide the non active LIs by default*/
#accordian .ul-menu .ul-menu {
	display: none;
}
/*CSS for list*/
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4caf50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

li.last {
	background-color: red;
    float: none;
    overflow: hidden;
}

#line {
  color: white;
}
/*CSS for ul of menu*/
.ul-menu {
	background-color: #fbc469;
	height: 100%;
    list-style-type: none;
    margin: 0;
    overflow: auto;/*enables scrolling if menu too long*/
    padding: 0;
    width: 250px;    
}

.ul-menu .ul-menu li a {
	color: white;
	display: block;
	font-size: 11px;
	line-height: 27px;
	padding: 0 15px;
	text-decoration: none;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}

.ul-menu .ul-menu {
	display: none;
}
