{% set ribbon_data = { color: 'red', text: 'Workplace: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Does the perpetrator or perpetrator’s family/friends know where you work? 
Does anyone else at work know about the incident?
If your counterpart/supervisor learns about the incident, do you think it would make you more or less safe?
If you work with the perpetrator, are there steps you can take to avoid interacting with the perpetrator?
If the perpetrator shows up at your work are there people you can turn to for support?
Is there anything that the Peace Corps can do to help you feel safe at work?</p>
{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Make sure PC has established contact with your counterpart so they know how to contact PC</li>
		<li>Identify an emergency point of contact in the workplace </li>
		<li>Immediately notify PC if the offender comes to your work</li>
		<li>If working in isolated areas seek accompaniment by a coworker or community member if possible</li>
		<li>Avoid staying late or alone in the office or workplace</li>
	</ul>
</p>