{% set ribbon_data = { color: 'red', text: 'Safety and Technology: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Does the perpetrator know your cell phone number? Your email address? Have you thought about what you would do if the perpetrator or perpetrator’s friends/family attempts to contact you or posts things about you online?  What can Peace Corps do to help you?
Does the perpetrator know any of your passwords? If so, have you considered changing your passwords?
Do you have any social media accounts (e.g., Facebook, Google, Twitter, Linked In, blogs)? Are you “friends” with the perpetrator or perpetrator’s friends/family? If so, do you know how to block the perpetrator or perpetrator’s family or friends?
Are you concerned that the perpetrator or perpetrator’s family/friends will contact you on the Internet?  If they do, have you thought about what you will do?</p>
{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Change your SIM card or cellphone</li>
		<li>Ensure you have readily accessible emergency contact numbers for local authorities and PC</li>
		<li>Change user names and/or passwords for mail and other social media</li>
		<li>Try to avoid using location services or posting information that may divulge your location</li>
		<li>Notify Peace Corps as soon as possible of safety and security concerns or if the offender attempts to contact you.</li>
		<li>Program your phone with important emergency numbers</li>
		<li>Keep phone charged and have enough minutes in case of an emergency.</li> 
	</ul>
</p>