{% set ribbon_data = { color: 'red', text: 'Physical Safety: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Have you anticipated where and in which ways you might come into contact with the perpetrator and perpetrator’s friends/family? If you were to come into contact with the perpetrator and perpetrator’s family/friends, what specific things could you do that might help you feel safe in that situation?
Have you thought about making a plan in case of emergencies of who you could call, where you could go, and how you could get there? How can Peace Corps assist you in developing this plan?</p>
{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Know where to go for help</li>
		<li>Have a way to alert neighbors/counterparts if there’s a problem</li>
		<li>Help develop a phone list of people to call in an emergency</li>
		<li>Ensure you have readily accessible emergency contact numbers for local authorities and PC</li>
		<li>If requested, establish contacts between PC and counterpart, neighbors, local police & community leaders so they know how to contact PC</li>
		<li>Have your important documents ready in case of an emergency</li>
	</ul>
</p>