{% set ribbon_data = { color: 'red', text: 'Community: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Do you anticipate that you will see the perpetrator when you are out in public? If yes, where?
Do you see the perpetrator’s family/friends when you are out in public? If yes, where?
If needed, is there someone you trust who can accompany you to the places you need to go?
If you were approached by the perpetrator or perpetrator’s friends/family in a public place, do you know where you could go to be safe?
Do you have any concerns about rumors related to the incident that are mentioned by community members or other Volunteers? How might you respond to these? How might these rumors impact you? How can Peace Corps assist you in dealing with rumors?
Are there specific things you or Peace Corps can do that might help you feel safer in your community?</p>
{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Establish regular check-in plan with PCMO and other PC staff</li>
		<li>Find out what support services are available to you, including Volunteer Support Network and PCVLs</li>
		<li>Trust your instincts; don’t worry about appearing to over-react (over-reacting is okay)</li>
		<li>Be aware of unhealthy coping mechanisms such as self-medicating, isolating oneself, hurting oneself, etc. and seek help from PC</li>
		<li>Ask Peace Corps for help before stress becomes overwhelming.</li>
	</ul>
</p>