{% set ribbon_data = { color: 'red', text: 'Transportation: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Do you have any safety concerns with any modes of transportation related to the incident? 
Does the perpetrator know your transportation routes? If yes, can you change the routes you take to work, home, shopping?
Does the perpetrator or the perpetrator’s friends/family use the same transportation you do? If so, are there other ways you could get where you need to go? Is their opportunity for carpooling with someone else?
Are there specific things you can think of doing or that Peace Corps might do that might help you feel safer in transport?</p>
{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Assist with identifying a safe taxi/moto-taxi or bus services</li>
		<li>Ensure that the Volunteer has readily accessible emergency contact numbers for local authorities and PC</li>
		<li>Notify Peace Corps as soon as possible of safety and security concerns</li>
		<li>Trust your instincts; don’t worry about appearing to over-react </li>
		<li>Modify daily routines, change times and routes to frequent locations if possible</li>
		<li>Keep personal belongings secure at all times</li>
	</ul>
</p>