{% set ribbon_data = { color: 'red', text: 'Home: Concerns'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>Do you suspect the perpetrator or the perpetrator’s family/friends know where you live? If so, do you believe the perpetrator may have access to your housing? 
Do you feel safe inside your home? What can Peace Corps do to help you feel safe inside your home (e.g., working locks on door/windows, etc.)? </p>

<p>If you live with a host family or on a family compound, does anyone know about the incident? If not, would they be supportive if they were to learn of the incident?
If the perpetrator or the perpetrator’s family/friends were to show up at your home are there people you can turn to for assistance?
In the unlikely event of a non-medical emergency, are there local friends, community members, or other Volunteers nearby who you can stay with or contact for assistance? If not, can Peace Corps help you identify individuals and establish those contacts? 
How could you contact these individuals?
Can you think of other resources or things you can do to feel safer where you live? What can Peace Corps do to assist you with this?</p>

{% set ribbon_data = { color: 'orange', text: 'Actions'} %}
{% include 'partial/ribbon.html' with ribbon_data only %}
<p>
	<ul>
		<li>Know where to go for help</li>
		<li>Ask staff to conduct a safety inspection of your home, if necessary</li>
		<li>Ensure needed security upgrades are completed</li>
		<li>Help develop a phone list of people to call in an emergency</li>
		<li>Ensure that you have readily accessible emergency contact numbers for local authorities and PC</li>
		<li>Have a way to alert neighbors/counterparts if there’s a problem</li>
		<li>Take steps to enhance privacy (use locks, keep curtains closed, etc)</li>
	</ul>
</p>