.firstaide .hide {
	display: none;
}
.firstaide .ui.bottom.attached {
	margin-bottom: 0px;
}
.firstaide .ui.menu.vertical.mustard {
	background: #ffd590;
}
.firstaide .ui.menu.vertical.mustard .item {
	background: #fbc469;
	color: #fff;
	margin: 10px 0px;
}
.firstaide .ui.menu.vertical.mustard .sub-menu-item .menu .item {
	background: #ffd590;
	padding-left: 30px;
}
.firstaide .ui.menu.vertical.mustard .sub-menu-item .menu .item:hover {
	background: #fbc469;
}
.firstaide .ui .pusher {
	background: #0ad299
}

