<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;">Connect and Share</td>
      </tr>
      <tr>
  		<td class="dark-green">
          <ul>
      			<li>A survivor may want additional support and information. You can provide an enormous amount of support by expressing concern and offering to look into resources for them. This could be medical treatment at a hospital, a sexual assault hotline, local advocacy services, counseling, or a local support group.</li>
            <li>It could also be as simple as providing a phone number or going with them to an appointment.</li>
          </ul>
      </td>
      </tr>
    </tbody>
</table>