<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;">Respect</td>
      </tr>
      <tr>
  		<td class="dark-green">
          <ul>
            <li>Listen patiently and allow them to share their story on their own terms. You may be the first and only person your friend tells.</li>
            <li>Encourage them to take their time, or reassure them that you are there to listen when they are ready.</li>
            <li>You can also respect their privacy by not sharing with others.</li>
          </ul>
      </td>
      </tr>
    </tbody>
</table>