<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;">Repeat</td>
      </tr>
      <tr>
  		<td class="dark-green">
          <ul>
      			<li>Offer to be there for your friend whenever they need you. Encourage them to come back to you for further support when appropriate. Remind them that you will be there to listen when they do.</li>
            <li>This will help your friend know that you are a safe source of support and that they can rely on when they need it.</li>
            <li>Creating this culture of openness with a friend can be comforting to a survivor who may need space to begin healing on their own terms.</li>
          </ul>
      </td>
      </tr>
    </tbody>
</table>