<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;">No Pressure</td>
      </tr>
      <tr>
  		<td class="dark-green">
          <ul>
      			<li>It is important to not ask/tell a survivor to report their assault to family, loved ones, the police, or the authorities or seek certain help.</li>
            <li>Allow a survivor to seek help and heal at their own pace.  Instead, offer to support them, accompany them, or help them seek information at a pace that they want and are comfortable with.</li>
          </ul>
      </td>
      </tr>
    </tbody>
</table>