<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;"></td>
      </tr>
      <tr>
  		<td class="dark-green">
  			<p>Whether they come to you for help first, or you learn of their experience some time down the line, there are things you can do to personally support a friend who is the survivor of sexual assault. Some of these tips may seem overly simplistic, but they can have a profound impact on someone who has put their trust in you for support.</p>
      </td>
      </tr>
    </tbody>
</table>