<table class="ui large very padded definition table">
    <tbody>
      <tr>
        <td class="three wide dark-orange" style="height: 64px;">Believe</td>
      </tr>
      <tr>
  		<td class="dark-green">
          <ul>
      			<li>If a survivor chooses to share their story with you, do not to question their story, judge it, or ask for details about it.</li>
            <li>Show them and tell them that you believe them, and that they are believed.</li>
          </ul>
      </td>
      </tr>
    </tbody>
</table>