/* Created by Akanksha
   Desc: Style for Circle of Trust
   Used in following php files
   editComrades
   circleOfTrust
*/
body {
	background-color: #05d197;
	margin: 0;
}
#bw-arrow {
	margin-left: 0px;
	margin-top: 200px;
	position: absolute;
}
/* The Close Button in popup*/
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Icons style present in circleOfTrust.php*/
.icons-container .icons-row {
	margin: 50px;	
}

.icons-container .icons-row img {
	cursor: pointer;
	margin:0 50px;
}

#ic-edit{
	margin: 0 700px 0 0px;
}

.inputs input {
	background-color: #ffffff;
	border: 3px solid #2db58f;
	color: #2db58f;
	font-size: 15px;
	height: 100%;
	margin: 10px;
	padding: 10px;	
	width: 500px;	
}

.line {
	color: white;
    width: 80%;
}

/*popup css*/
.popup {
	background-color: #2db58f; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    left: 0;
    height: 100%; 
    overflow: auto;
    padding-top: 100px; /* Location of the box */
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; /*On top of screen*/
}
/*Style for popup when Help me clicked*/
.popup-button { /*buttons in contact popup*/
	background-color: #2db58f;
	border-width: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 70px;
	margin-top: 20px;
	padding: 20px;
	text-align:center;
	width: 100%;
	font-weight:bold;
}

.popup-button:hover {
    background-color: #02845f;
}

.popup-content {
    background-color:  #2db58f;
    border: 3px solid #ffffff;
    margin: auto;
    padding: 20px;
    width: 30%;
}

.small-button {/*submit button in editComrades.php*/
	background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	margin-top: 20px;
	text-align: center;
	width: 30%;	
}

.small-button:hover {
    background-color: #02845f;
}

#table {
    border-collapse:separate;
    border-spacing:50px 50px;
    height: 200px;
    width: 100%;
}

.text {
	color: #ffffff;
	font-style: bold;
	color: #ffffff;
	font-family: 'Avenir Next LT Pro Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Avenir Next LT Pro Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');



}

.window {
	height: 100%;
	margin-left: 25%;
	padding: 1px 16px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #2db58f;
    font-size: 15px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2db58f;
   font-size: 15px;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2db58f;
   font-size: 15px;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #2db58f;
   font-size: 15px;
}

/*custom scrollbar for the app*/
::-webkit-scrollbar {
	background-color: #f5f5f5;
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

