/* Created by Akanksha
   Desc: Style for Get Help Now module and it's submodules
   Use in the following php files
   getHelpNow
   getHelpNow2
   PCSaves
   OfficeOfVictimAdvocacy
   OfficeOfCivilRightsAndDiversity
   OfficeOfInspectorGeneral
   twilioSMS
   twilioCall
 */
body {
	background-color: #05d197;
	margin: 0;
}

.block {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 100%;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

#btn-table {
    border-collapse: separate;
    border-spacing: 50px 50px;
    width: 100%;
    height: 200px;
}

.button {  /*The big green buttons*/ 
    background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;	
}

.button:hover {
    background-color: #02845f;
}

#bw-arrow {
	margin-top: 250px;
	position: absolute;
}

/* The Close Button in popup */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

#fw-arrow {
	float: right;
	display: inline-block;
	margin-top: 0px;
}

#input {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	height: 100%;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

.line {
	color: white;
    width: 50%;
}

#location{
	background-color: #2db58f;
	border: 1px solid #ffffff;
	color: #ffffff;
}

/*popup css*/
.popup {
	background-color: #2db58f; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    left: 0;
    height: 100%; 
    overflow: auto;
    padding-top: 100px; /* Location of the box */
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; /*On top of screen*/
}

.popup-button { /*buttons in contact popup*/
	background-color: #2db58f;
	border-width: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 70px;
	margin-top: 20px;
	padding: 20px;
	text-align:center;
	width: 100%;
}

.popup-button:hover {
    background-color: #02845f;
}

.popup-content {
    background-color:  #2db58f;
    border: 3px solid #ffffff;
    margin: auto;
    padding: 20px;
    width: 30%;
}

.small-button {/*used in sub-modules present at getHelpNow2.php*/
	background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	margin-top: 20px;
	text-align: center;
	width: 30%;	
}

.small-button:hover {
    background-color: #02845f;
}

#SMS-body {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 200px;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

.text {
	color: #ffffff;
	font-style: bold;
}

.window {
	height: 100%;
	margin-left: 25%;
	padding: 1px 16px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #d3d3d3;
    font-size: 15px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #d3d3d3;
   font-size: 15px;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #d3d3d3;
   font-size: 15px;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #d3d3d3;
   font-size: 15px;
}

/*custom scrollbar for the app*/
::-webkit-scrollbar {
	background-color: #f5f5f5;
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
