/* DOCUMENT INFORMATION
    - Created by : Akanksha
    - Desc: Style for Get Help Now module and it's submodules
    - Files : getHelpNow.php, getHelpNow2.php, PCSaves.php, OfficeOfVictimAdvocacy.php, OfficeOfCivilRightsAndDiversity.php,
              OfficeOfInspectorGeneral.php, twilioSMS.php, twilioCall.php
*/

/* ===FONT=== */
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
	font-family: 'Avenir Next Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

/* ==PRIMARY LAYOUT STRUCTURE== */
body {
	font-family: 'Avenir Next';
	background-color: #05d197;
	margin: 0;
}

.block {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 100%;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

/* ===BUTTONS=== */

/* Button for each sub-feature */
#btn-table {
    border-collapse: separate;
    border-spacing: 50px 50px;
    width: 100%;
    height: 200px;
}

/*The big green buttons*/
.button {   
    background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	font-family: 'Avenir Next Bold';
}

.button:hover {
    background-color: #02845f;
}

#bw-arrow {
	margin-top: 250px;
	position: absolute;
}

/* The Close Button in popup */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-family: 'Avenir Next Bold';
}

.close:hover,.close:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

#fw-arrow {
	float: right;
	display: inline-block;
	margin-top: 0px;
}

/* ===INPUTS=== */
#input {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	height: 100%;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

/* ===HORIZONTAL LINE=== */
.line {
	color: white;
    width: 50%;
}

/* Location Dropdown*/
#location{
	background-color: #2db58f;
	border: 1px solid #ffffff;
	color: #ffffff;
}

/* Popup Css */
.popup {
	background-color: #2db58f; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    left: 0;
    height: 100%; 
    overflow: auto;
    padding-top: 100px; /* Location of the box */
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; /*On top of screen*/
}

/* buttons in contact popup */
.popup-button { 
	background-color: #2db58f;
	border-width: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 70px;
	margin-top: 20px;
	padding: 20px;
	text-align:center;
	width: 100%;
	font-family: 'Avenir Next Bold';
}

.popup-button:hover {
    background-color: #02845f;
}

.popup-content {
    background-color:  #2db58f;
    border: 3px solid #ffffff;
    margin: auto;
    padding: 20px;
    width: 30%;
}

/* used in sub-modules present at getHelpNow2.php */
.small-button {
	background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	margin-top: 20px;
	text-align: center;
	width: 30%;
	font-family: 'Avenir Next Bold';
}

.small-button:hover {
    background-color: #02845f;
}

/* ===TEXT=== */
#SMS-body {
	background-color: #2db58f;
	border: 3px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 200px;
	margin-top: 30px;
	padding: 20px;	
	width: 400px;	
}

.text {
	color: #ffffff;
}

/* ===WINDOW=== */
.window {
	height: 100%;
	margin-left: 25%;
	padding: 1px 16px;
}

/* ===PLACEHOLDER=== */
/* WebKit, Blink, Edge */
::-webkit-input-placeholder { 
    color: #d3d3d3;
    font-size: 15px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { 
   color: #d3d3d3;
   font-size: 15px;
   opacity:  1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder { 
   color: #d3d3d3;
   font-size: 15px;
   opacity:  1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
   color: #d3d3d3;
   font-size: 15px;
}

/* ===SCROLLBAR=== */
/* custom scrollbar for the app */
::-webkit-scrollbar {
	background-color: #f5f5f5;
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: #bdbdbd;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}