/* Created by Akanksha
   Desc: CSS for index page
*/
@font-face {
	font-family: 'avenir next';
	src: url(../fonts/AvenirNextLTPro-Regular.otf)
}
body {
	background-color: #05d197;
	height: 240px;
    left: 50%;
    margin-left: -400px;
    margin-top: -120px;
    position: absolute;
    top: 50%;
    width: 800px;
}

.title {
    color: #ffffff;
    font-size: 100px;
    font-style: bold;
}

/*custom scrollbar for the app*/
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
