/* DOCUMENT INFORMATION
    - Created by : Akanksha
    - Files : login.php, registration.php
*/

/* ===GLOBAL=== */

/* ===FONT=== */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

body {
    font-family: 'Avenir Next';
    background-color: #05d197;
}

/* ===HYPERLINKS=== */
a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: blue;
}

/* ===BUTTONS=== */
.button {
    background-color: #2db58f;
    border: 3px #ffffff;
    color: #ffffff;
    font-size: 20px;
    height: 60px;
    margin-top: 30px;
    text-align: center;
    width: 25%;
    font-family: 'Avenir Next Bold';
    cursor: pointer;
}

.button:hover {
    background-color: #02845f !important;
}

/* Div style to show form in the center */

.div {
    margin-top: 100px;
}

.div-reg {
    margin-top: 30px;
}

/* ===INPUTS=== */

.input-box {
    background-color: transparent;
    border-bottom: solid #eeeeee 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #eeeeee;
    outline: none;
    padding: 3px 10px;
}

.input-box:focus {
    box-shadow: 0px 2px;
}

.requirements {
    display: none;
    color: red;
}

/* ===HORIZONTAL LINE=== */

#line {
    border-width: 2px;
    color: #ffffff;
    width: 50%;
}

/* ===PASSWORD METER=== */
meter {
    height: 10px;
    width: 98%;
    margin: 0;
}

meter::-webkit-meter-bar {
    background: #05D197;
    border: 1px solid white;
}

meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: #02845F;
}

meter[value="1"]::-moz-meter-bar {
    background: red;
}

meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

meter[value="3"]::-moz-meter-bar {
    background: orange;
}

meter[value="4"]::-moz-meter-bar {
    background: #02845F;
}

#password:not(:focus) + #password-validation {
    display: none;
}

#password-strength-text {
    font-size: 14px;
    margin: 2px;
}

#suggestion {
    margin: 0;
    padding: 0;
    color: red;
}

/* ===TABLE=== */

.tables {
    border-collapse: separate;
    border-spacing: 0 45px;
}

/* ===TEXT=== */

.text {
    color: #ffffff;
}

/* ===PLACEHOLDER=== */

/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
    color: #d3d3d3;
    font-size: 15px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
    color: #d3d3d3;
    font-size: 15px;
    opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
    color: #d3d3d3;
    font-size: 15px;
    opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: #d3d3d3;
    font-size: 15px;
}

/* ===SCROLLBAR=== */

/* WebKit, Blink, Edge */
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
