/* Created by Akanksha
   CSS for progress bar
*/ 
#bar {
  background-color: #fbc469;
  height: 100%;
  position: absolute;
  width: 1%; 
}

/* ===FONT=== */
@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

body {
  font-family: 'Avenir Next';
  background-color: #05d197;
  margin: 0;
}

#line {
  color: white;
  width: 50%;
}

#progress {
  background-color: #ddd;
  height: 30px;
  margin-top: 200px;
  position: relative;
  width: 80%;
}

.text {
  color: #ffffff;
  font-weight: bold;
}

/*custom scrollbar for the app*/
::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
