/*Created by Akanksha
  Desc: CSS for welcome.php
*/

/*===global===*/
.window {
	height: 100%;
	margin-left: 25%;
	padding: 1px 16px;
}

/*custom scrollbar for the app*/
::-webkit-scrollbar {
    width: 12px;
	background-color: #f5f5f5;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bdbdbd;
}

/* ===font=== */
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNextLTPro-Regular.otf');
}


@font-face {
	font-family: 'Avenir Next Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

/* ===primary===*/
body {
	font-family: 'Avenir Next';
	background-color: #05d197;
	margin: 0;
}

/*===buttons===*/
.button { /*The green buttons css*/
	background-color: #2db58f;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	font-family: 'Avenir Next Bold';
}

.button:hover {
    background-color: #02845f;
}

.button-org {/*Orange buttons css*/
	background-color: #ffd590;
	border-width: 3px;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	height: 150px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	font-family: 'Avenir Next Bold';
}

.button-org:hover {
    background-color: #ffffff;
    color: #ffd590;
}

#buttons-table {/*table containing buttons*/
    border-collapse:separate;
    border-spacing:50px 50px;
    width: 100%;
    height: 200px;
}

/*===lines=== */
.line {
	color: white;
    width: 50%;
}

/*===text===*/
.text {
	color: #ffffff;
}



