Verbal with Potential Victim:
<ul>
<li>Diffuse the situation by starting a new conversation</li>
<li>Say a friend is looking for the individual and leave together to find them </li>
<li>Tell the individual there is a previous engagement with others and they need to leave with you</li>
<li>“I need your advice…” and pull them away from the immediate space</li>
<li>“Do you need help?” </li>
<li>“Let’s walk home together”</li>
<li> “Do you want me to call someone for you?” </li>
<li>“What can I do to help you?”</li>
<li>“Do you want me to talk to so-and-so for you?”</li>
</ul>