Non-Verbal Tactics for both
<ul>
<li>Get in line of vision and catch their eye</li>
<li>Take a group photo to document what the potential offender looks like</li>
<li>Ask/Assess situation with a thumbs up/down</li>
<li>Wave to your friend to indicate you are leaving to get them to come with you</li>
<li>Text or call the Volunteer </li>
<li>Use a distraction to get the predator’s attention</li>
<li>Strike up a conversation with someone nearby to physically get closer</li>
<li>Walk towards the two, alone or with others, and engage in conversation</li>
<li>Make a show of picking up the phone to indicate you are alerting others</li>
<li>Physically pull the individual away</li>
</ul>