<p>Bystander Intervention is a process of safely interrupting a situation in which others may be at risk for becoming the victim of harassment, or sexual or physical violence.</p>

<p>In Peace Corps history, other Volunteers often witnessed the events leading up to Volunteer sexual and physical assaults.  There are ways to safely intervene when you see your fellow Trainee or Volunteer in a potentially dangerous situation.</p>

<p>#1 Rule: Your safety is your FIRST priority. Bystander intervention is a tool to be used with Volunteers.  If you see a situation between locals that needs intervention, contact your SSM for guidance on how to proceed.</p>