Confidentiality is preserving the privacy of another’s information. The protection of a Volunteer's identity, personally identifying information   (PII), and the details surrounding a crime, including sexual assaults, are all Peace Corps’ utmost priority.  Staff, the Volunteer who has been assaulted and the Volunteer community all play a role in preserving privacy.  

The Role of Staff 
Peace Corps staff are held to high expectations with regards to confidentiality.   All Peace Corps staff and the independent Peace Corps Sexual Assault Hotline responders are trained to safeguard personal information.  If you believe your information is being mishandled, please call the Office of Inspector General (OIG  ).

The Role of the Volunteer Community 
When Volunteers learn of a fellow PCV’s sexual assault their actions can make a difference - they can support the healing process or further hurt the Volunteer who was sexually assaulted.  Some things to consider:
<ul>
<li>What is your role in protecting information about a crime against a Volunteer?</li>
<li>If you become aware of a crime committed against a fellow PCV, how might posting information on a social media platform, such as a blog or Facebook, impact or even endanger the Volunteer, their host community, or their friends and family?</li>
</ul>


The Role of the Volunteer Who Has Been Assaulted
If you become the victim of a crime, choose who you trust with your sensitive information. Volunteer communications with other Volunteers may not be held to the same rules of privacy that apply to Peace Corps staff or Hotline responders.  

As one Volunteer shared:

 “After the sexual assault, I needed the support of a fellow PCV and shared a little about what I was going through.  I had no idea that because I was seeking legal justice that the defense lawyer would contact that individual four months later to fish for information to use against me in a court of law.  Had I known that anything that I said verbally or in an email would be fair game for court, I would have been more cautious and spoken to a counselor through secure communication earlier.”