<ul>
	<li><a href="http://www.mencanstoprape.org/" target="_blank">Men Can Stop Rape</a></li>
	<li><a href="https://safehelpline.org/" target="_blank">Safe Helpline</a>: Mobile app and website that allows sexual assault survivors to create customized self-care plans. Intended for active duty military personnel but the self-care portion is applicable to all.</li>
	<li><a href="http://www.vawnet.org/special-collections/SVLGBTIQ.php#100" target="_blank">Sexual Violence in Lesbian, Gay, Bisexual, Transgender, Intersex, or Queer (LGBTIQ) Communities</a></li>
</ul>
Additional Resources for Unwanted Attention and Harassment
<ul>
	<li><a href="http://www.stopstreetharassment.org/" target="_blank">Stop Street Harassment</a> “Assertive Responses” ideas and Tool Kits </li>
	<li><a href="http://www.ihollaback.org/about/" target="_blank">Hollaback.org</a> An anti-street harassment movement.</li>
	<li>Huffington Post article: <a href="http://www.huffingtonpost.com/soraya-chemaly/international-street-harassment-week_b_1228198.html" target="_blank">“International Anti- Street Harassment week: Ten Things You can do to Stop Street harassment”</a></li>
	<li>TED talk by Jackson Katz, <a href="https://www.ted.com/talks/jackson_katz_violence_against_women_it_s_a_men_s_issue" target="_blank">“Violence Against Women- It’s a Men’s Issue”</a></li>
</ul>