<p><b>MS 243 Responding to Sexual Assault</b></p>
<p>Provides overall policy and procedures on Peace Corps response to a sexual assault, including a system of Restricted and Standard Reporting of sexual assault as required by the Kate Puzey Act.</p>
<div class="ui hr divider"></div>
<p><b>IPS 1-12 Volunteer/Trainee Sexual Misconduct</b></p>
<p>Defines and prohibits sexual misconduct by Volunteers and creates an administrative process for resolving complaints of Volunteer on Volunteer sexual misconduct.</p>
<div class="ui hr divider"></div>
<p><b>MS 284 Early Termination of Service, Section 5.1(i)</b></p>
<p>Gives CDs authority to grant interrupted service for a Volunteer who is the victim of sexual assault, stalking, or other serious crime.</p>
<div class="ui hr divider"></div>
<p><b>IPS 1-13 Stalking</b></p>
<p>Provides definition of stalking and clear responsibility of the Peace Corps to mitigate risks.</p>
<div class="ui hr divider"></div>
<p><b>IPS 1-11 Immunity from Peace Corps Disciplinary Action for Victims of Sexual Assault</b></p>
<p>Provides victims of sexual assault with immunity from administrative discipline for policy violations related to the incident.</p>
<div class="ui hr divider"></div>
<p><b>MS 774 Retention of Counsel</b></p>
<p>Requires CD to maintain list of local counsel who handle sexual assault cases; allows for retention of counsel to provide information about the legal process; requires retention of counsel for Volunteer victims, et al.</p>