<p class="fs17">Step 1: Recognize the danger</p>
<p class="fs17">Be aware of what is going on around you – be on the lookout for suspicious people and for situations that could pose a danger.</p>

<p class="fs17">Be aware of how others perceive you – are your actions or dress inadvertently attracting unwanted attention?  Are you wearing jewelry, using a camera, working on a laptop, or flashing money that might grab the attention of a criminal?</p>

<p class="fs17">Being able to recognize dangers lets us begin to figure out ways to reduce the risks. This is where it’s important to trust your instincts. If you have a bad feeling about something it’s a warning sign. Don’t dismiss it – listen to what that voice in the back of your head is saying or that uneasy feeling in your stomach is telling you.  For example, when you walk in to a crowded bus terminal, you recognize that there is a risk of being pickpocketed.</p>