Tips for creating a Safety Plan
<ul>
<li>If you choose to work with staff, be honest with sharing any concerns</li>
<li>Identify strategies that can be taken to reduce any on-going safety and security concerns</li>
<li>Identify strategies or actions post may take to support you in these efforts</li>
<li>If you want post staff perspective and help, simply ask</li>
<li>If you are feeling overwhelmed with fear or anxiety, have a conversation with the PCMO or a counselor to talk it out</li>
<li>Safety planning is an on-going process.  New concerns may arise that require adjusting it.  Modify your safety plan to accommodate any changes.</li>
</ul>