Safety Plans are personalized, practical steps that can help you manage your security following an incident.  Each safety plan is unique, and therefore, should be tailored to the circumstances of a particular incident and the needs.  Not all incidents require a safety plan.  However, you have a right to request help from a staff member to create a tailored safety plan.   

Main reasons for a Safety Plan:
<ul>
<li>Exploring on-going risks and concerns associated with the incident </li>
<li>Assessing strategies on how to respond when a perceived threat is present </li>
<li>Maintaining your safety and well-being</li>
</ul>