Purpose of a Safety Plan:
<ul>
<li>To assist you in identifying strategies for mitigating on-going risks</li>
<li>To outline possible responses and resources in instances of potential future harm</li>
<li>To strengthen the partnership between you and staff in promoting your on-going safety and security and well-being</li>
<li>To empower you to reclaim a sense of safety and security by addressing safety and security needs and concerns</li>
</ul>

Safety Plans cannot:
<ul>
<li>Guarantee your future safety. </li>
<li>Take the place of working with a mental health specialist to identify ways to cope with emotions and stressful situations which may arise in the aftermath of an incident.  If you would like such assistance, counseling can be arranged through the PCMO.</li>
</ul>