Important reasons for a Volunteer to seek out Staff support:
<ul>
    <li>So that appropriate and timely medical care can be provided.
    <li>HIV and hepatitis testing, including HIV PEP
    <li>STI screening
    <li>Pregnancy testing and prophylaxis, if applicable
    <li>So the Volunteer gets emotional support and mental health care
    <li>Access to long-term health care through worker’s compensation after COS, if needed.
    <li>To be informed about legal options and assistance.
    <li>Help ensure the safety of the Volunteer and fellow Volunteers.
    <li>Help ensure the safety of future Volunteers.
</ul>

Please know that Peace Corps is committed to supporting Volunteers who have been victims of sexual assault. Staff can only provide that support when the incident is reported.  Peace Corps has strict controls regarding which staff learn of and provide assistance to Volunteers who report sexual assault.