<h3>Frequently Asked Questions</h3>
<ul>
<li>What is the difference between a Restricted Report and a Standard Report?  
<p>Both types of sexual assault reports are confidential in nature. Until a Volunteer provides Peace Corps with what support services they are requesting, staff will treat information as if filed under a Restricted Report.</p>
<p>A Restricted Report limits information to only those individuals who have a specific need-to-know in order to provide basic support services (medical, mental health, or safety).</p>
<p>A Standard Report allows access to all of the same services offered through Restricted Reporting in In addition to other support services such as filing a police report, switching host families, and changing to a new site. Because additional services may be requested, a Standard Report increases the number of people with a need-to-know to provide those services.</p>
</li>

<li>Should a Volunteer choose Standard or Restricted?
<p>When a Volunteer seeks support from staff, the default of services provided is a Restricted Report. The choice between seeking services of a Standard or Restricted Report is an individual one. Some services, however, can only be offered under standard reporting. Peace Corps believes it can best support a Volunteer through standard reporting as it allows the agency to leverage additional resources and offer additional services such as conducting an in-depth risk assessment.  The agency recognizes however that for some Volunteers the most important thing is strict confidentiality and a need for as few people to know as possible.</p>
</li>

<li>What does “need-to-know” mean?
<p>A need-to-know means that a staff member has a specific role that requires basic knowledge about the assault. Only service providers typically have a need-to-know and therefore have access to information about the assault as reported by the Volunteer. Only medical staff have information about any medical treatment received.</p>
<p>A role may be mandated by Peace Corps policies and procedures, US law, or local laws. For example, a Country Director has a responsibility to know where each Volunteer is located and new site development requires time and resources managed by the Country Director. As such, a Country Director has a need-to-know when a Volunteer requests a site change.</p>
</li>

<li>What if a Volunteer wants to request additional support services? 
<p>All reported sexual assault start with the basic services found under a Restricted Report. A Volunteer can request additional services and switch to a Standard Report at any time. Once a report becomes Standard, the report cannot be converted back to Restricted because staff that might help provide additional standard report services will have been provided with basic information.</p>
<p>Volunteers can request additional services at any time, and Volunteers can discontinue/cancel a request for services at any time.</p> 
</li>

<li>Will I get the services/type of reporting I want? 
<p>Volunteer preferences are very important to Peace Corps. We strive to ensure that Volunteer choices are respected. In most cases Volunteers receive all the services they desire. In the event a service is not possible, Peace Corps staff have a responsibility to provide an explanation.</p>
</li>
</ul>