Services available for all who have experienced sexual assault:
<ul>
    <li>Medical Care related to injury, pregnancy, or sexually transmitted infections</li>
    <li>A sexual assault forensic exam (SAFE) to preserve evidence , if needed</li>
    <li>Counseling from a licensed mental health professional</li>
    <li>Medical evacuation</li>
    <li>Accompaniment during medical evacuation</li>
    <li>Safety planning</li>
    <li>Explanation of legal options </li>
    <li>Assistance with making and going to appointments related to the assault (SARL assistance)</li>
    <li>Help understanding Volunteer rights and ensuring that services requested are received (victim advocate assistance)</li>
</ul>