<p class="fs17">
	<p class="fs17">If it is not consensual, then it is a crime.  Consensual means that both people are old enough to consent, have the capacity to consent, and agreed to the sexual contact.  There are two main considerations to help Volunteers judge whether or not a sexual act is consensual.</p>
	<ol class="fs17">
		<li class="mb10">Did both people have the physical, mental, and legal capacity to consent?  Those with diminished capacity – for example, some people with disabilities, some elderly people and people who have been drugged or are unconscious – may not have the ability to consent to have sex.</li>
		<li class="mb10">Did both participants agree to take part? Did someone use physical force to make you have sexual contact with him/her? Has someone threatened you or coerced you to make you have intercourse with them?  If so, it is sexual assault.</li>
	</ol>
	<p class="fs17">If someone does not have the capacity to consent because they are too scared to say no, drunk or otherwise incapacitated, or one person does not want sexual contact, then it is sexual assault.  This applies to rape or sexual assault of a Volunteer or Trainee by another Volunteer or Trainee.  If a Volunteer is drunk or otherwise incapacitated then it is not consensual sex. 
	If you are not sure if you were sexually assaulted, or even if something made you uncomfortable, don’t be afraid to discuss the incident with your PCMO or someone else you trust for support.  
	Even if weeks, months, or years have passed, it is never too late to report an incident of sexual assault so you can receive support to aid your healing and recovery.</p>
</p>
