Both in Peace Corps and worldwide, the majority of sexual assault have these similarities:
<ul>
<li>Predators know the victim.</li>
<li>Occur when the victim is isolated.</li>
<li>Occur at night.</li>
</ul>

Tactics used by sexual predators:
<ul>
<li>Attempt to isolate their potential victim. They may target someone who is already alone. For example, walking alone, or they may try to get their target alone by offering a ride in their car.</li>
<li>Persuasion and confidence. This is the “Smooth Talker” who puts you at ease.  They make you feel comfortable and relaxed so you are not aware of their true intent.  They may try to persuade you to do something you feel uncomfortable about.  They might promise that they won’t try anything with you or reassure you by saying “You can trust me.”</li>
<li>Pressure and guilt. Sexual predators may try to coerce you by pressuring you to go farther in a relationship than you are ready or willing to go.  They may try to make you feel guilty if you do not give in to their advances. They might say “You are offending me culturally” or something similar to make Volunteers feel guilty.</li>
<li>Threats and intimidation. Sometimes the sexual predator threatens to physically harm the Volunteer or someone they care about.  They might also threaten to blackmail the Volunteer unless they comply.</li>
<li>Force and violence.  Force and Violence involves a direct physical attack to overpower a Volunteer.  It is what we frequently see on TV and in movies…like when the assailant jumps out of the bushes with a knife and attacks an unsuspecting jogger.</li>
<li>Drugs, including alcohol.</li>
</ul>