Coping with Unwanted Attention Strategies
<ul>
<li>Walk purposefully. Always walk with confidence and purpose.</li>
<li>Look assertive. Hold your head high, shoulders back and present yourself as a professional demanding respect.</li>
<li>Nod (to acknowledge) and keep on walking. Simply recognizing the person can help ward off unwanted attention. Many times an inappropriate comment is an effort to get attention.</li>
<li>Dress appropriately. Keep in mind what is culturally appropriate.</li>
<li>Greetings. Sometimes a polite “Good Morning” can thwart a potential unwanted comment, but at other times it can escalate the situation.  If this strategy does not work, try a different one.</li>
<li>Pretend that you heard something else. “I agree, it HAS been really great weather recently. Have a nice day, bye!”</li>
<li>Humor. Use humor to lighten the moment and solicit another response.  For example, if you are told that you would make a good lover, reply that your spouse is sure to agree!  Keep walking.  This may not work with a persistent individual, so please keep trying different strategies when needed.</li>
<li>Be polite but firm. It is quite normal to stand your ground. “I am offended by your comment; please do not address me in that manner.”</li>
<li>Maintain your composure. Try to remain calm even if you feel upset. The converse is also true; try not to show hostility as this may provoke a confrontation. It is best to remove yourself from a situation if you feel that you are losing control.</li>
<li>Never say “next time.” Make no promises for another time, because you can be sure that the next time they see you, they will remind you of that promise.</li>
</ul>