<div class="article">
  <div class="ui column center grid flex-align-center {% if not bottom_button %} h100{% else %} h85 mb10{% endif %} plr60">
    <div class="sixteen wide column">
      <div class="ui dividing header tac mb60">{{ title }}</div>
        <div class="ui raised cards">
          <div class="card full-page {% if card_content.class %}{{ card_content.class }}{% endif %}">
            {% if card_content.twig_data %}
              {% include 'partial/' ~ card_content.twig with card_content.twig_data %}
            {% else %}
              {% include 'partial/' ~ card_content.twig %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if bottom_button %}
  <div class="flex flex-justify-center plr60">
    <a href="{{ bottom_button.link }}" class="w100">
      <div class="massive ui button know-more w100">{{ bottom_button.text }}</div>
    </a>
  </div>
  {% endif %}
</div>
