.firstaide .fs17 {
	font-size: 17px;
}
.firstaide .fs27 {
	font-size: 27px;
}
.firstaide .fs30 {
	font-size: 30px;
}
.firstaide .m20 {
	margin: 20px;
}
.firstaide .mt20 {
	margin-top: 20px;
}
.firstaide .mt30 {
	margin-top: 30px;
}
.firstaide .mb10 {
	margin-bottom: 10px;
}
.firstaide .mb20 {
	margin-bottom: 20px;
}
.firstaide .mb30 {
	margin-bottom: 30px;
}
.firstaide .mb60 {
	margin-bottom: 60px;
}
.firstaide .p0 {
	padding: 0px;
}
.firstaide .p20 {
	padding: 20px;
}
.firstaide .pt30 {
	padding-top: 30px;
}
.firstaide .plr60 {
	padding-left: 60px;
	padding-right: 60px;
}
.firstaide .tac {
	text-align: center;
}
.firstaide .hide {
	display: none;
}
.firstaide .hin {
	height: inherit;
}
.firstaide .win {
	width: inherit;
}
.firstaide .w50 {
	width: 50%;
}
.firstaide .w80 {
	width: 80%;
}
.firstaide .w100 {
	width: 100%;
}
.firstaide .h30 {
	height: 30%;
}
.firstaide .h65 {
	height: 65%;
}
.firstaide .h85 {
	height: 85%;
}
.firstaide .h100 {
	height: 100%;
}
.firstaide .mh400 {
	min-height: 400px;
}
.firstaide .lh24 {
	line-height: 24px;
}
.firstaide .scrollable {
	overflow-y: scroll;
}
@media only screen and (min-width: 1145px) {
	.firstaide .ui.fixed.main.menu {
	    display: none;
	}
	.firstaide .full.height > .ui.sidebar {
		display: block;
		visibility: visible;
		transform: translate3d(0,0,0);
		box-shadow: 0 0 20px rgba(34,36,38,.15);
	}
}
@media only screen and (max-width: 1144px) {
	.firstaide .full.height > .ui.sidebar {
	    display: none;
	}
	.firstaide .full.height > .ui.sidebar.visible {
	    display: block;
	}
}
@media only screen and (max-width: 1144px) {
	.firstaide .ui .pusher {
		left: 0px;
		width: 100%;
		padding-top: 40px;
	}
}
.firstaide ul li  {
	list-style-position:inside
}
.firstaide .ui.definition.table.large {
	border: 0px;
}
.firstaide .ui.definition.table.large tr {
	padding: 0px;
}
.firstaide .ui.definition.table.large .dark-orange {
	color: #333333;
	background: #fbc469;
}
.firstaide .ui.definition.table.large .dark-green {
    color: #fff;
	background: #2DB58F;
}
.firstaide .ui.modal .content {
	color: #000;
}
.firstaide .flex-column {
	display: flex;
	flex-direction: column;
}
.firstaide .flex-justify-center {
	display: flex;
	justify-content: center;
}
.firstaide .flex-align-center {
	display: flex;
	align-items: center;
}
.firstaide .flex-align-start {
	display: flex;
	align-items: flex-start;
}
.firstaide .ui.grid .column.flex-align-center,
.firstaide .ui.grid .column.flex-justify-center {
	display: flex;
}
.firstaide .relative {
	position: relative;
}
.firstaide .article .previous-button {
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 0%;
}
.firstaide .article .next-button {
	font-size: 40px;
	position: absolute;
	top: 50%;
	right: 0%;
}
.firstaide .pusher {
	color: #fff;
	left: 260px;
	width: calc(100% - 260px);
}
.firstaide .ui.header {
	color: #fff;
	font-size: 35px;
}
.firstaide .ui.tiny.header {
	color: #fff;
	font-size: 1em;
}
.firstaide .ui.cards>.full-page.card.p0,
.firstaide .ui.cards>.custom.card.p0 {
	padding: 0px;
}
.firstaide .ui.cards#content-container>.card {
	width: 100%;
}
.firstaide .ui.cards>.full-page.card,
.firstaide .ui.cards>.custom.card,
.firstaide .ui.cards>.card {
	background-color: #2DB58F;
}
.firstaide .ui.cards>.full-page.card,
.firstaide .ui.cards>.custom.card {
	padding: 20px;
	height: 65%;
    overflow-y: scroll;
}
.firstaide .ui.cards>.full-page.card {
	width: 100%;
}
.firstaide .ui.cards>.custom.card {
	flex: 1;
}
.firstaide .ui.cards>.custom.card.hide {
	display: none;
}
.firstaide .ui.raised.segment.dark-orange {
	color: #fff;
	background-color: #fbc469;
}
.firstaide .ui.cards>.full-page.card ul li,
.firstaide .ui.cards>.custom.card ul li {
	margin-bottom: 10px;
}
.firstaide .ui.button.know-more {
	color: #fff;
	background-color: #fbc469;
}
.firstaide .ui.multi-segment .segment {
	background-color: #2DB58F;
}
.firstaide .ui.raised.segment {
	overflow-y: scroll; 
}
.firstaide .ui.hr.divider {
	border-top: 1px solid #fff;
}
.firstaide .icon.angle,
.firstaide .icon.edit,
.firstaide .icon.remove {
	cursor: pointer
}
.firstaide .icon.dark-green {
	color: #115441;
}
.firstaide .circle-of-trust .circle {
	height: 400px;
	display: flex;
    align-items: center;
	justify-content: center;
}
.firstaide .circle-of-trust-page > .hide {
	display: none;
}
.firstaide .circle-of-trust ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.firstaide .circle-of-trust ul li {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
}
.firstaide .circle-of-trust ul li img {
	border-radius: 50%;
}
.firstaide .green-button.ui.button {
	color: #fff;
	background: #29a281;
}
.firstaide .green-button.ui.button:hover {
	background: #15775c;
}
.firstaide.index {
	height: inherit;
	background: #0ad299
}
.firstaide.index #sign-up-link,
.firstaide.index #login-link,
.firstaide.index .subtitle,
.firstaide.index .field > label,
.firstaide.index .ui.progress>.label,
.firstaide .ui.progress>.label,
.firstaide .form .field > label {
	color: #fff;
}
.firstaide.index .ui.basic.red.label {
	z-index: 999;
}
.firstaide.index button {
	color: #ffffff;
	background-color: #29a281;
}
.firstaide.index button:hover,
.firstaide.index button:focus {
	color: #fff;
	background-color: #15775c;
}
.firstaide.index .ui.pointing.label {
	position: fixed;
}
.firstaide .ui.bottom.attached {
	margin-bottom: 0px;
}
.firstaide .ui.menu.vertical.mustard {
	background: #ffd590;
}
.firstaide .ui.menu.vertical.mustard .item {
	color: #fff;
	background: #fbc469;
	margin: 10px 0px;
}
.firstaide .ui.menu.vertical.mustard .sub-menu-item .menu .item {
	padding-left: 30px;
	background: #ffd590;
}
.firstaide .ui.menu.vertical.mustard .sub-menu-item .menu .item:hover {
	background: #fbc469;
}
.firstaide .ui .pusher {
	background: #0ad299
}
.firstaide .field.password-strength {
	margin: 0px 8px;
}
.firstaide #password-strength-status {
	flex: 1;
}
